[run]
relative_files = True
source = pyrolite
omit =
    # Omit test, docs, draft and data files
    test/*
    docs/*
    **/data
    draft/*

    # Omit extensions with extra dependencies
    pyrolite/util/database.py

    # Ignore _version.py
    */_version.py
