[run]
omit =
    # Omit test and data files
    test/*
    **/data

    # Omit extensions with extra dependencies
    pyrolite/util/wfs.py
    pyrolite/util/database.py
    pyrolite/util/skl.py

    # Ignore _version.py
    */_version.py
